.center {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
}

.bulletin {
  font-weight: bold;
  font-size: clamp(3rem, 3vw + 2rem, 5rem);
}

.top-spacing {
  margin-top: 20px;
}
